<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--    <meta dGhpcyBpcyB3cml0dGVuIGJ5IEJlaG5hbSBNb2hhbW1hZHphZGVoCg== /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker sample app</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }

        form {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        textarea {
            width: 100%;
            height: 100px;
            resize: vertical;
            margin-bottom: 16px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px auto;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

    </style>
</head>
<body>
    <center>
        <h1>Hello, this is a Docker sample project </h1>
        {% if db_conn_healthy %}
            <h3>Database(MySql) Connection: ✅</h3>
        {% else %}
            <h3>Database(MySql) Connection: ❌</h3>
        {% endif %}

        {% if cache_conn_health %}
            <h3>Cache(Redis) Connection: ✅</h3>
        {% else %}
            <h3>Cache(Redis) Connection: ❌</h3>
        {% endif %}

        <br>
        <hr>
        <br>

        <!DOCTYPE html>
        <h1>Add Message</h1>
        <form method="post" action="/add-message">
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" rows="10" cols="90" required></textarea><br>
            <input type="submit" value="Send">
        </form>

        <hr>
        <br>
        <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Message</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td>{{ message.text }}</td>
                    <td>{{ message.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </center>
</body>
</html>
